In [1]:
print("Welcome to SQL")

Welcome to SQL