In [28]:
!pip install ipython-sql==0.4.1 sqlalchemy pymysql prettytable==0.7.2 --quiet

In [8]:
!pip install sqlalchemy==1.4.46

Collecting sqlalchemy==1.4.46
  Using cached SQLAlchemy-1.4.46-cp312-cp312-macosx_10_15_x86_64.whl
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy==1.4.46) (3.0.1)
Installing collected packages: sqlalchemy
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aext-project-filebrowser-server 4.20.0 requires sqlalchemy>=2.0.29, but you have sqlalchemy 1.4.46 which is incompatible.
Successfully installed sqlalchemy-1.4.46

In [19]:
%load_ext sql
%sql mysql+pymysql://root:coolNeon%4023@localhost:3306/farmers_market

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost:3306/farmers_market
8 rows affected.

[('booth',),
 ('customer',),
 ('customer_purchases',),
 ('market_date_info',),
 ('product',),
 ('product_category',),
 ('vendor',),
 ('vendor_booth_assignments',)]

In [6]:
%sql mysql+pymysql://root:coolNeon%4023@localhost:3306/demo

In [7]:
%sql show tables;

 * mysql+pymysql://root:***@localhost:3306/demo
   mysql+pymysql://root:***@localhost:3306/farmers_market
1 rows affected.

[('house_mate',)]

In [11]:
house_mate_df=%sql select * from house_mate;

 * mysql+pymysql://root:***@localhost:3306/demo
   mysql+pymysql://root:***@localhost:3306/farmers_market
6 rows affected.

In [13]:
import pandas as pd
pd.DataFrame(house_mate_df)

     name  room no   rent
0   karan        1  200.0
1   Issac        2  300.0
2  Newton       12  100.0
3   Issac       20  150.0
4  Newton      112  100.0
5   Issac      210  150.0

### configure SqlMagic's autopandas option to True so that the result is auto converted in DataFrame

In [14]:
%config SqlMagic.autopandas = True

In [16]:
value= %sql select name from house_mate
type(value)

 * mysql+pymysql://root:***@localhost:3306/demo
   mysql+pymysql://root:***@localhost:3306/farmers_market
6 rows affected.

pandas.core.frame.DataFrame

In [20]:
%sql select database();

   mysql+pymysql://root:***@localhost:3306/demo
 * mysql+pymysql://root:***@localhost:3306/farmers_market
1 rows affected.

       database()
0  farmers_market

In [21]:
%sql show tables;

   mysql+pymysql://root:***@localhost:3306/demo
 * mysql+pymysql://root:***@localhost:3306/farmers_market
8 rows affected.

   Tables_in_farmers_market
0                     booth
1                  customer
2        customer_purchases
3          market_date_info
4                   product
5          product_category
6                    vendor
7  vendor_booth_assignments

In [22]:
%sql select * from demo.house_mate;

   mysql+pymysql://root:***@localhost:3306/demo
 * mysql+pymysql://root:***@localhost:3306/farmers_market
6 rows affected.

     name  room no   rent
0   karan        1  200.0
1   Issac        2  300.0
2  Newton       12  100.0
3   Issac       20  150.0
4  Newton      112  100.0
5   Issac      210  150.0